<launch>

    <node pkg="rosbag" name="rosbag" type="record" output="screen" args="-a -o /home/libing/rosbag/csi_data/rotating "/>
   <include file="$(find sar_localization)/launch/log_csi_raw.launch"/>
   <include file="$(find imu_3dm_gx4)/launch/imu.launch" />
   <include file="$(find servo_control)/launch/servo_control.launch" />
   <include file="$(find djiros)/launch/djiros.launch" />    
   <include file="$(find sonarros)/launch/sonar.launch" />
</launch>

